@charset "utf-8";
/* CSS Document */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #393939;
  font-size: 14px;
}

body.bodybg {
  background: #f3f3f3
}

div, ul, li, p, dl, dt, dd, h1, h2, h3, h4 {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-weight: normal
}

table, tr, td {
  margin: 0;
  padding: 0
}

i, em {
  font-style: normal
}

a {
  text-decoration: none;
  color: #393939
}

a:hover {
  text-decoration: none;
  color: #000;
  text-decoration: underline
}

a {
  outline: none;
}

a {
  blr: expression(this.onFocus=this.blur())
}

a img {
  border: 0
}

input, textarea, select {
  font-family: "微软雅黑", Microsoft Yahei;
  color: #747373
}

.op80 a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.op80 input:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.clear {
  clear: both;
  overflow: hidden;
  height: 0
}

.fl_left {
  float: left
}

.fl_right {
  float: right
}

.orange {
  color: #ff6c02
}

.orange a {
  color: #ff6c02
}

.orange a:hover {
  text-decoration: underline
}

.blue {
  color: #20a2df
}

.red {
  color: #ff0000
}

.red a {
  color: #ff0000
}

.ae {
  color: #aeaeae
}

.a5a {
  color: #a5a5a5
}

.green {
  color: #6bc30d
}

.green a {
  color: #6bc30d
}

.green a:hover {
  text-decoration: underline
}

.min0 {
  margin: 0
}

.min10 {
  margin-top: 10px
}

.min20 {
  margin-top: 20px
}

.min25 {
  margin-top: 25px
}

.min30 {
  margin-top: 30px
}

.r {
  text-align: right
}

.center {
  text-align: center
}

.ht80 {
  height: 80px
}

.header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10
}

.header .headercon {
  width: 1200px;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -600px;
}

.wrap {
  width: 1200px
}

.logo {
  float: left;
  width: 268px;
  padding: -20px 0 0;
}

.logo a.blue {
  display: block;
  overflow: hidden;
  width: 268px;
  text-decoration: none;
  font-family: "ZagBoldRegular", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 48px;
  color: #13eaa4;
  margin: 0;
}

.logo a.white {
  display: block;
  overflow: hidden;
  width: 268px;
  text-decoration: none;
  font-family: "ZagBoldRegular", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 48px;
  color: #fff;
  margin: 0;
}

.logo a:hover { text-decoration: none } 

@font-face {
    font-family: 'Alte-Haas-Grotesk-Bold';
    src: url("http://edwardloveall.com/online/fonts/Alte-Haas-Grotesk-Bold.ttf.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
section.wrapper,
div.orbit {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
section.wrapper {
    height: 100%;
    width: 300px;
    text-align: center;
}
section.wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

div.orbit.orbit-1 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -2.72s;
    -moz-animation-delay: -2.72s;
    animation-delay: -2.72s;
    position: absolute;
    top: 58.4%;
    left: -9.4%;
    width: 118.8%;
}
div.orbit.orbit-1:after {
    -webkit-animation-delay: -2.72s;
    -moz-animation-delay: -2.72s;
    animation-delay: -2.72s;
    height: 4px;
    width: 4px;
}
div.orbit.orbit-2 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.12s;
    -moz-animation-delay: -0.12s;
    animation-delay: -0.12s;
    position: absolute;
    top: 87.8%;
    left: -0.4%;
    width: 100.8%;
}
div.orbit.orbit-2:after {
    -webkit-animation-delay: -0.12s;
    -moz-animation-delay: -0.12s;
    animation-delay: -0.12s;
    height: 8px;
    width: 8px;
}
div.orbit.orbit-3 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.92s;
    -moz-animation-delay: -0.92s;
    animation-delay: -0.92s;
    position: absolute;
    top: 47.2%;
    left: -10%;
    width: 120%;
}
div.orbit.orbit-3:after {
    -webkit-animation-delay: -0.92s;
    -moz-animation-delay: -0.92s;
    animation-delay: -0.92s;
    height: 12px;
    width: 12px;
}
div.orbit.orbit-4 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -1.44s;
    -moz-animation-delay: -1.44s;
    animation-delay: -1.44s;
    position: absolute;
    top: 40.2%;
    left: -9.4%;
    width: 118.8%;
}
div.orbit.orbit-4:after {
    -webkit-animation-delay: -1.44s;
    -moz-animation-delay: -1.44s;
    animation-delay: -1.44s;
    height: 5px;
    width: 5px;
}
div.orbit.orbit-5 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -2.88s;
    -moz-animation-delay: -2.88s;
    animation-delay: -2.88s;
    position: absolute;
    top: 17.8%;
    left: -3.4%;
    width: 106.8%;
}
div.orbit.orbit-5:after {
    -webkit-animation-delay: -2.88s;
    -moz-animation-delay: -2.88s;
    animation-delay: -2.88s;
    height: 6px;
    width: 6px;
}
div.orbit.orbit-6 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.68s;
    -moz-animation-delay: -0.68s;
    animation-delay: -0.68s;
    position: absolute;
    top: 13.6%;
    left: -1.6%;
    width: 103.2%;
}
div.orbit.orbit-6:after {
    -webkit-animation-delay: -0.68s;
    -moz-animation-delay: -0.68s;
    animation-delay: -0.68s;
    height: 12px;
    width: 12px;
}
div.orbit.orbit-7 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -2.24s;
    -moz-animation-delay: -2.24s;
    animation-delay: -2.24s;
    position: absolute;
    top: -0.4%;
    left: 8.6%;
    width: 82.8%;
}
div.orbit.orbit-7:after {
    -webkit-animation-delay: -2.24s;
    -moz-animation-delay: -2.24s;
    animation-delay: -2.24s;
    height: 5px;
    width: 5px;
}
div.orbit.orbit-8 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    animation-delay: -2s;
    position: absolute;
    top: -14.4%;
    left: 26.6%;
    width: 46.8%;
}
div.orbit.orbit-8:after {
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    animation-delay: -2s;
    height: 6px;
    width: 6px;
}
div.orbit.orbit-9 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -1.36s;
    -moz-animation-delay: -1.36s;
    animation-delay: -1.36s;
    position: absolute;
    top: 8%;
    left: 2%;
    width: 96%;
}
div.orbit.orbit-9:after {
    -webkit-animation-delay: -1.36s;
    -moz-animation-delay: -1.36s;
    animation-delay: -1.36s;
    height: 12px;
    width: 12px;
}
div.orbit.orbit-10 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -3.28s;
    -moz-animation-delay: -3.28s;
    animation-delay: -3.28s;
    position: absolute;
    top: 36%;
    left: -8.8%;
    width: 117.6%;
}
div.orbit.orbit-10:after {
    -webkit-animation-delay: -3.28s;
    -moz-animation-delay: -3.28s;
    animation-delay: -3.28s;
    height: 9px;
    width: 9px;
}
div.orbit.orbit-11 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.88s;
    -moz-animation-delay: -0.88s;
    animation-delay: -0.88s;
    position: absolute;
    top: 96.2%;
    left: 5%;
    width: 90%;
}
div.orbit.orbit-11:after {
    -webkit-animation-delay: -0.88s;
    -moz-animation-delay: -0.88s;
    animation-delay: -0.88s;
    height: 6px;
    width: 6px;
}
div.orbit.orbit-12 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.04s;
    -moz-animation-delay: -0.04s;
    animation-delay: -0.04s;
    position: absolute;
    top: 101.8%;
    left: 9.8%;
    width: 80.4%;
}
div.orbit.orbit-12:after {
    -webkit-animation-delay: -0.04s;
    -moz-animation-delay: -0.04s;
    animation-delay: -0.04s;
    height: 12px;
    width: 12px;
}
div.orbit.orbit-13 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -3.2s;
    -moz-animation-delay: -3.2s;
    animation-delay: -3.2s;
    position: absolute;
    top: 3.8%;
    left: 4.4%;
    width: 91.2%;
}
div.orbit.orbit-13:after {
    -webkit-animation-delay: -3.2s;
    -moz-animation-delay: -3.2s;
    animation-delay: -3.2s;
    height: 6px;
    width: 6px;
}
div.orbit.orbit-14 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -1.36s;
    -moz-animation-delay: -1.36s;
    animation-delay: -1.36s;
    position: absolute;
    top: 108.8%;
    left: 18.2%;
    width: 63.6%;
}
div.orbit.orbit-14:after {
    -webkit-animation-delay: -1.36s;
    -moz-animation-delay: -1.36s;
    animation-delay: -1.36s;
    height: 10px;
    width: 10px;
}
div.orbit.orbit-15 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.24s;
    -moz-animation-delay: -0.24s;
    animation-delay: -0.24s;
    position: absolute;
    top: 99%;
    left: 7.4%;
    width: 85.2%;
}
div.orbit.orbit-15:after {
    -webkit-animation-delay: -0.24s;
    -moz-animation-delay: -0.24s;
    animation-delay: -0.24s;
    height: 8px;
    width: 8px;
}
div.orbit.orbit-16 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    animation-delay: -2s;
    position: absolute;
    top: -0.4%;
    left: 8%;
    width: 84%;
}
div.orbit.orbit-16:after {
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    animation-delay: -2s;
    height: 8px;
    width: 8px;
}
div.orbit.orbit-17 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -3.84s;
    -moz-animation-delay: -3.84s;
    animation-delay: -3.84s;
    position: absolute;
    top: 90.6%;
    left: 0.8%;
    width: 98.4%;
}
div.orbit.orbit-17:after {
    -webkit-animation-delay: -3.84s;
    -moz-animation-delay: -3.84s;
    animation-delay: -3.84s;
    height: 11px;
    width: 11px;
}
div.orbit.orbit-18 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.32s;
    -moz-animation-delay: -0.32s;
    animation-delay: -0.32s;
    position: absolute;
    top: -4.6%;
    left: 12.2%;
    width: 75.6%;
}
div.orbit.orbit-18:after {
    -webkit-animation-delay: -0.32s;
    -moz-animation-delay: -0.32s;
    animation-delay: -0.32s;
    height: 7px;
    width: 7px;
}
div.orbit.orbit-19 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -1.28s;
    -moz-animation-delay: -1.28s;
    animation-delay: -1.28s;
    position: absolute;
    top: 71%;
    left: -7.6%;
    width: 115.2%;
}
div.orbit.orbit-19:after {
    -webkit-animation-delay: -1.28s;
    -moz-animation-delay: -1.28s;
    animation-delay: -1.28s;
    height: 5px;
    width: 5px;
}
div.orbit.orbit-20 {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -3.88s;
    -moz-animation-delay: -3.88s;
    animation-delay: -3.88s;
    position: absolute;
    top: 22%;
    left: -5.2%;
    width: 110.4%;
}
div.orbit.orbit-20:after {
    -webkit-animation-delay: -3.88s;
    -moz-animation-delay: -3.88s;
    animation-delay: -3.88s;
    height: 8px;
    width: 8px;
}
div.orbit:after {
    -webkit-animation: planet-rotate 4s linear infinite;
    -moz-animation: planet-rotate 4s linear infinite;
    animation: planet-rotate 4s linear infinite;
    background-color: #e22822;
    border-radius: 50%;
    content: '';
    display: block;
}
@-webkit-keyframes orbit-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-moz-keyframes orbit-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-o-keyframes orbit-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes orbit-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes planet-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        -o-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
@-moz-keyframes planet-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        -o-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
@-o-keyframes planet-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        -o-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
@keyframes planet-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        -o-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

.nav {
  float: right;
  position: relative;
  margin-left: 60px
}

.nav li {
  width: 120px;
  float: left;
  height: 80px;
  line-height: 80px;
  text-align: center
}

.nav li a {
  width: 120px;
  height: 80px;
  display: block;
  font-size: 16px;
  color: #fff;
}

.nav li a:hover {
  color: #fff;
  background: #234969;
  text-decoration: none;
}

.nav li.cur a {
  background: #234969
}

.topicfixed {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}

.topicfixed .nav li a {
  color: #000;
}

.topicfixed .nav li a:hover {
  color: #000;
}

.topicfixed .nav li.cur a {
  color: #fff;
}

.main_visual {
  width: 100%;
  height: 960px;
  position: relative
}

.main_image {
  width: 100%;
  height: 960px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  z-index: 0
}

.main_image a:hover {
  text-decoration: none
}

.main_image ul {
  width: 9999px;
  height: 960px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0
}

.main_image li {
  float: left;
  width: 100%;
  height: 960px;
  position: relative;
}

.main_image li span {
  display: block;
  width: 100%;
  height: 960px;
}

.flicking_con {
  width: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}

.flicking_con .flicking_inner {
  position: absolute;
  top: 900px;
  left: 0;
  width: 300px;
  height: 21px;
  text-align: center;
}

.flicking_con a {
  width: 8px;
  height: 8px;
  margin-left: 10px;
  padding: 0;
  overflow: hidden;
  border: #fff 1px solid;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.flicking_con a.on {
  background: #fff;
  border: #fff 1px solid;
}

.main_visual #btn_prev {
  display: none
}

.main_visual #btn_next {
  display: none
}

.bnbut {
  width: 1140px;
  position: absolute;
  left: 50%;
  margin-left: -570px;
  top: 200px;
  z-index: 99
}

// .bnbut a {
//   display: inline-block;
//   width: 180px;
//   height: 60px;
//   margin-right: 20px;
//   text-indent: -9999px;
//   overflow: hidden;
//   background: asset_data_url('home/iosbut.png') no-repeat -194px 0;
// }

// .bnbut a.ios {
//   background-position: 0 0;
// }
.bnbut a.android{
  
}

.bnbut i.codebut {
  display: block;
  width: 138px;
  height: 138px;
  margin: 20px;
  text-indent: -9999px;
  overflow: hidden;
  background: asset_data_url('home/codebut.png') no-repeat;
  cursor: pointer
}

.codebox {
  width: 640px;
  height: 330px;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -400px;
  padding: 10px;
  border-radius: 20px;
  background: asset_data_url('home/btm.png');
  z-index: 99
}

.codebox .close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
  background: asset_data_url('home/close.png');
  z-index: 99
}

.codebox dl {
  width: 640px;
  height: 230px;
  border-radius: 20px;
  padding: 50px 0;
  background: #fff;
  text-align: center
}

.codebox dl dt {
  float: left;
  padding: 0 50px;
}

.codebox dl dd {
  float: left;
  padding: 0 50px;
  border-left: #e5e5e5 1px solid
}

.codebox dl img {
  margin-bottom: 10px;
}

.codebox dl em {
  display: block;
  margin-bottom: -35px;
}

.container{
    width: 930px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.footer{
    background-color: #f6f6f6;
}

.footer-info{
    overflow: visible;
    padding: 45px 0 20px;
}

.menu-list{
    list-style: none;
    float: left;
}
.menu-list > li{
    float: left;
    margin-left: 100px;
}
.menu-list > li:first-child{
    margin-left: 0;
}
.menu-tit{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}
.sub-menu-list{
    list-style: none;
}
.sub-menu-list > li > a{
    text-decoration: none;
    color: #878a8c;
    font-size: 12px;
    line-height: 30px;
    display: block;
}
.sub-menu-list > li > a:hover{
    color: #575a5c;
}
.wx-code{
    display: none;
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 200px;
}
#weixin{
    position: relative;
}
#weixin:hover > .wx-code{
    display: block;
}

.contact{
    float: right;
    text-align: right;
}
.service{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #333;
}
.tel{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
    color: #333;
}
.time{
    font-size: 12px;
    color: #999;
    line-height: 24px;
}

.footer-icp{
    color: #999;
    font-size: 12px;
    line-height: 24px;
    padding: 18px 0;
    border-top: 1px solid #dcdcdc;
}

.clear{
    clear: both;
}

.header-box{
    height: 60px;
}
.sub-nav{
    list-style: none;
    overflow: hidden;
    position: fixed;
    top: 60px;
    background-color: rgba(0, 0, 0, .5);
    background-color: #333 \9;
    right: 0;
    left: 0;
    padding-left: 50%;
    display: none;
}



.sub-nav > li{
    float: left;
    white-space:nowrap;
}

.sub-nav > li > a{
    display: inline-block;
    padding: 25px 27px;
}

.download-area{
    position: fixed;
    top: 60px;
    left: 0;
    padding: 20px 0;
    width: 100%;
    opacity: .9;
    z-index: 100;
    background-color: #ececec;
    color: #333;
    display: none;
}

.download-area h3{
    font-size: 48px;
    padding: 4% 0;
    margin: 0;
    font-family: "STHeiti Light";
}
.notice{
    font-size: 16px;
    padding-bottom: 1%;
}
.more{
    font-size: 14px;
    margin-top: 2%;
    color: #666;
}
.code{
    position: absolute;
    right: 25%;
    top: 20px;
    width: 180px;
    height: 180px;
}
.close-btn{
    position: absolute;
    background: url(../images/del_download.png) center no-repeat;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 0;
}
.robot{
    position: fixed;
    z-index: 999; 
    box-sizing: content-box;
    height: 43px;
    bottom: 0px; 
    padding: 0px 20px;
    border-radius: 4px 4px 0px 0px;
    right: 100px;
    background: rgb(19, 234, 164) none repeat scroll 0% 0%;
    transition: all 0.3s ease-in-out 0.1s;
}
.wechat-img{
    display: none;
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 200px;
}
#wechat{
    position: relative;
}
#wechat:hover > .wechat-img{
    display: block;
}
.robot a{
    text-decoration: none;
    outline: none;
    font-family: Microsoft Yahei, Arial, Helvetica; color: #fff;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    line-height:43px;
    float:none;
}
.robot a img{
    vertical-align: middle; width: 31px;
    border:none;
    margin: -4px 10px 0 0;
    float: none;
    position: static; height: 27px;
}
.robot a  span{
    font-family: Microsoft Yahei, Arial, Helvetica;
    color: #fff;
    font-size:16px;
    margin: 0;
    padding: 0;
}

.activebg {
  position: relative;
  width: 100%;
  height: 600px;
  background: #fff;
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
}

.onebg {
  background-image: asset_data_url('home/bg1.jpg');
}

.twobg {
  background-image: asset_data_url('home/bg2.jpg');
}

.thirdbg {
  background-image: asset_data_url('home/bg3.jpg');
}

.dt_banner {
  height: 600px;
  background: asset_data_url('home/bannerbg2.png') no-repeat center
}

.dynamic {
  width: 1200px;
}

.dynamic dl {
  width: 1130px;
  padding: 50px 0;
  overflow: hidden
}

.dynamic dl dt {
  float: left;
  width: 200px;
  font-size: 28px;
}

.dynamic dl dt em {
  color: #00c6ff;
  font-size: 70px;
  display: inline-block;
  margin-right: 10px;
}

.dynamic dl dt span {
  display: block;
  color: #d4d4d4;
  font-size: 40px;
  line-height: 40px;
}

.dynamic dl dd {
  float: right;
  width: 930px;
  overflow: hidden;
  line-height: 24px;
}

.dynamic dl dd ul {
  width: 1000px;
  overflow: hidden
}

.dynamic dl dd ul li {
  float: left;
  width: 448px;
  margin-right: 30px;
  padding-bottom: 10px;
  height: 520px;
  background: #fff;
  border: #e6e6e6 1px solid;
}

.dynamic dl dd ul li .imgbox {
  width: 450px;
  height: 390px;
  margin: -1px 0 0 -1px;
}

.dynamic dl dd ul li .imgbox img {
  width: 450px;
  height: 390px;
  display: block;
}

.dynamic dl dd ul li h3 {
  padding: 0 20px;
  margin-top: 15px;
  color: #000;
  font-size: 18px;
}

.dynamic dl dd ul li h3 a {
  color: #000;
}

.dynamic dl dd ul li p {
  color: #7e7e7e;
  padding: 10px 20px;
}

.dynamic dl dd .con {
  width: 928px;
  background: #fff;
  padding-bottom: 10px;
  border: #e6e6e6 1px solid;
}

.dynamic dl dd .con.imgbox {
  width: 930px;
  margin: -1px 0 0 -1px;
}

.dynamic dl dd .con .imgbox img {
  width: 930px;
  display: block;
}

.dynamic dl dd .con h3 {
  padding: 0 20px;
  margin-top: 15px;
  color: #000;
  font-size: 18px;
}

.dynamic dl dd .con p {
  color: #7e7e7e;
  padding: 10px 20px;
}

.detailed {
  width: 1200px;
  padding: 40px 0
}

.article {
  width: 840px;
  background: #fff;
  padding: 30px 40px;
  border: #e6e6e6 1px solid;
  line-height: 26px;
  text-align: justify;
  text-justify: inter-ideograph
}

.article h1 {
  font-size: 28px;
  padding-bottom: 10px;
}

.article .time {
  color: #b2b2b2
}

.article .con {
  padding-top: 20px
}

.article .con p {
  padding: 2px 0
}

.sw_banner {
  height: 600px;
  position: relative;
}

.sw_banner .sw_text {
  width: 1000px;
  position: absolute;
  top: 200px;
  left: 50%;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  margin-left: -500px;
  color: #fff;
}

.sw_banner .tel {
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  bottom: 50px;
  color: #fff;
  text-align: center
}

.sw_banner .tel em {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  padding: 0 25px;
  border: #fff 1px solid;
  border-radius: 40px;
}

.sw_banner .aboutico i {
  display: inline-block;
  padding: 5px;
}

.affairs {
  width: 1160px;
  padding: 40px 20px;
  overflow: hidden;
  line-height: 28px;
  background: asset_data_url('home/swhzbg.png') no-repeat center 120px;
}

.affairs h3 {
  padding: 20px 0;
  font-size: 24px;
  margin-bottom: 30px;
}

.affairs .sw_l {
  float: left;
  width: 500px;
  padding-left: 40px;
  font-size: 16px;
}

.affairs .sw_l dl {
  padding: 10px 0;
}

.affairs .sw_l dl dt {
  color: #00c6ff;
}

.affairs .sw {
  float: left;
  width: 1000px;
  padding-left: 40px;
  font-size: 16px;
}

.affairs .sw dl {
  padding: 10px 0;
}

.affairs .sw p {
  padding: 10px 0
}

.affairs .sw dl dt {
  color: #00c6ff;
}

.affairs .sw_r {
  float: right;
  width: 500px;
  padding-right: 40px;
}

.affairs .sw_r p {
  padding: 10px 0
}

.affairs .sw_r input.inp {
  border: #c7d1d7 1px solid;
  height: 20px;
  font-size: 16px;
  outline: none;
  width: 400px;
  padding: 10px;
}

.affairs .sw_r textarea {
  border: #c7d1d7 1px solid;
  height: 150px;
  font-size: 16px;
  outline: none;
  width: 400px;
  padding: 10px;
  resize: none
}

.affairs .sw_r input.but {
  height: 48px;
  font-size: 18px;
  width: 150px;
  text-align: center;
  border: 0;
  background: #00c1eb;
  color: #fff;
  border-radius: 30px;
  cursor: pointer
}

.jb_banner {
  background: asset_data_url('home/bannerbg10.jpg') no-repeat center
}

.dy_banner {
  height: 600px;
  background: asset_data_url('home/bannerbg7.png') no-repeat center
}

.gy_banner {
  background: asset_data_url('home/bannerbg8.png') no-repeat center
}

.jr_banner {
  background: asset_data_url('home/bannerbg6.jpg') no-repeat center
}

.fq_banner {
  background: asset_data_url('home/bannerbg9.jpg') no-repeat center
}

.sv_banner {
  background: asset_data_url('home/bannerbg5.png') no-repeat center
}

.jobbox {
  width: 1200px;
  padding: 40px 0;
}

.jobbox h1 {
  width: 1120px;
  padding: 30px 20px;
  font-size: 28px;
  line-height: 28px;
  background: asset_data_url('home/swhzbg.png') no-repeat center bottom;
}

.jobbox .jobcon {
  width: 1120px;
  overflow: hidden;
  padding: 20px 0;
  line-height: 26px;
}

.jobbox .jobcon h3 {
  color: #00c6ff;
  padding: 10px 0;
  font-size: 16px;
}

.jobbox .jobcon dl {
  padding: 10px 0
}

.jobbox .jobcon dl dt {
  color: #b2b2b2;
}

.jobbox .jobcon .job_l {
  float: left;
  width: 540px;
}

.jobbox .jobcon .job_r {
  float: right;
  width: 540px;
}

.aboutcon {
  width: 1200px;
  padding: 40px 0;
  margin-top: 40px;
  margin-bottom: 40px;
  background: asset_data_url('home/aboutbg.png') no-repeat center;
  font-size: 20px;
}

.aboutcon dl {
  width: 900px;
  height: 90px;
  padding-top: 30px;
  overflow: hidden;
  display: table;
}

.aboutcon dl dt {
  float: left;
  width: 400px;
  padding-top: 5px;
  text-align: right
}

.aboutcon dl dt em {
  display: inline-block;
  padding: 10px 20px;
  border: #00c1eb 2px solid;
  color: #00c1eb;
  border-radius: 50px;
}

.aboutcon dl dt.cor2 em {
  color: #ec5b9f;
  border: #ec5b9f 2px solid;
}

.aboutcon dl dt.cor3 em {
  color: #46bc61;
  border: #46bc61 2px solid;
}

.aboutcon dl dd {
  float: right;
  width: 400px
}

.aboutcon dl dd p {
  height: 60px;
  vertical-align: middle;
  display: table-cell;
}

.aboutcon dl.rt dt {
  float: right;
  text-align: left
}

.aboutcon dl.rt dd {
  float: left;
  display: table;
  text-align: right;
}

.content {
  background-color: #FFFFFF;
  margin-bottom: 3.75em;
     -moz-box-shadow: 0 0 0.3125em 0 #c8c8c8;   
  -webkit-box-shadow: 0 0 0.3125em 0 #c8c8c8;        
          box-shadow: 0 0 0.3125em 0 #c8c8c8;  
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#040000";  
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#c8c8c8');
  border: 1px solid #c8c8c8;
}

.cus_serv{
  margin: 6% 6% 10%;
}

.cus_serv img{
  width: 100%;
  margin: 4% 0 7%;
}

.cus_serv .block{
  padding-bottom: 5%;
}

.cus_serv .block p{
  font-size: 1.25em;
  border-bottom: 1px solid #cccccc;
  padding:2% 0;
  color: #333333;
}

.cus_serv .con_info{
  margin-top:2%;
}

.cus_serv .con_info li{
  padding: 1% 0;
  font-size: 1em;
  color: #666666;
}

.promise{
  /*border: 1px solid red;*/
  width: 100%;
  height: 265px;
}

.promise div{
  height: 270px;
  /* height: 100%; */
  /* padding: 3%;*/
}

.promise ul li{
  float: left;
  width: 33%;
  border-left: 1px solid #cccccc;
  border-bottom: none;
  text-align: center;
}

.promise ul li:first-child{
  border-left:none;
}

.promise img{
  float: left;
  width: 20%;
  margin-left: 38%;
  margin-top: 13%;
}

.cus_serv .block p.prop{
  float: left;
  width: 100%;
  padding-bottom: 15%;
  border-bottom: none;
}



