<div class="container">
  <div class="footer-section">
    <div class="row">
      <div class="col-xs-offset-1"> <!-- <div class="col-md-12"> -->
        <div class="col-md-3 col-sm-6 footer-menu">
          <ul>
            <li>
              <h3>关于凡客</h3>
            </li>
            <li>
              <a href="/about">关于凡客</a>
            </li>
            <li>
              <a href="/contact">联系我们</a>
            </li>
            <li>
              <a href="/jobs">诚聘英才</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-menu">
          <ul >
            <li>
              <h3>行业动态</h3>
            </li>
            <li>
              <a href="/dynamic">行业动态</a>
            </li>
            <li>
              <a href="/news">新闻与杂志</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-menu">
          <ul >
            <li>
              <h3>售后服务</h3>
            </li>
            <li>
              <a href="/service">售后服务</a>
            </li>
            <li>
              <a href="/faq">常见问题</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-menu">
          <ul>
            <li>
              <h3>关注我们</h3>
            </li>
            <li>
              <a class="wechat" href="javascript:void(0)">
                <span>官方微信</span>
                <%#= image_tag('share/wechat.png', :class => 'wx-code') %>
              </a>
            </li>
            <li>
              <a href="">新浪微博</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='footer-icp-service'>
    <span class="tel"><i class="fa fa-phone"></i>0755-23593266</span>
    <span class="time">周一至周六9:00-21:00</span>
    <span class='icp'>
      Copyright © 2017 － <%= Date.current.year %> 深圳市凡客生物科技有限公司
    </span>
  </div>

  <div class='robot'>
    <a href="tencent://message/?uin=2354550534&Site=vank.com&Menu=yes">
      <%= image_tag('share/chat.png', :alt => "客服小智") %>
    </a>
  </div>

  <button type="button" class="jam-scroll-top animation-slide-bottom"></button>
</div>

<!-- share start -->
<div class="share text-center">
  <div class="share-component" data-disabled="google,twitter,facebook" data-description="『深圳凡客生物』智能网关、指纹锁、app、网站专业定制"></div>
</div>
<!-- share end -->

<script type="text/javascript">
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?<%= SiteConfig.bda_key %>";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();

  $(document).ready(function(){
    $(".jam-scroll-top").click(function(){
      $('html,body').animate({'scrollTop':0},300);
    });
    var wh = $(window).height();
    $(window).scroll(function(){
      if($(this).scrollTop() > wh){
        $(".jam-scroll-top").removeClass('hide').addClass("animation-slide-bottom");
      }else{
        $(".jam-scroll-top").addClass('hide').removeClass('animation-slide-bottom');
      }
    });
    if(window.console){
      console.log("联系我们 QQ:1756992323 Wechat:letu86");
    }
  });
</script>