defaults: &defaults
  app_name: "Jiananmei, LLC"
  domain: "127.0.0.1:3000"
  admin_emails:
    - "admin@admin.com"
  email_sender: 'noreply@jiaanmei.com'
  upload_url: ''
  devise_secret_key: 'ssssssssssssssss'
  wx_app_id: 'wx1e4984e8c8073064'
  wx_app_secret: '45eb2603ecf9bf97b0b25887b6085751'
  wx_redirect_uri: 'www.sina.com.cn'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults