defaults: &defaults
  app_name: "Jiaanmei, Ltd"
  admin_emails:
    - "admin@jiaanmei.com"
  email_sender: 'noreply@jiaanmei.com'
  upload_url: ''
  devise_secret_key: ''
  wx_app_id: 'wx4b61bf7bfd47921e'
  wx_app_secret: '025cd93b55509693523ca67afc016988'
  wx_mch_id: ''
  wx_pay_api_key: ''
  wx_pay_notify_url: ''
  wx_redirect_uri: 'http://www.jiaanmei.com/wx-shop/redirect'

development:
  <<: *defaults
  domain: "http://localhost:3000"

test:
  <<: *defaults
  domain: "http://localhost:3000"

production:
  <<: *defaults
  domain: "jiaanmei.com"
  secret_key_base: "f3e0005c9c92ad2ff625169c2bfe1917b386146cef4a29c35b93f611da3f7e980b9a7011891f34babe39b35214bfda92bfdb237df21611b01c1d9a55f36e6199"