// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

/*
 *= require redactor-rails
 *= redactor-rails/plugins
 */

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
//@import "redactor-rails.css";

//@import "active_admin/editor/wysiwyg";

//@import 'active_admin/admin_bootstrap';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

  table {
    width: 100%;
    table-layout:fixed;
    td {
      word-wrap: break-word;
    }
  }


/* Overriding datapicker start */
.ui-datepicker {
    background: #fff;
    background-clip: padding-box;
    color: #fff;
    display: none;
    margin: 2px 0 0 -68px !important;
    text-align: center;
    width: 160px;
}

.ui-datepicker .ui-datepicker-header {
    height: 14px;
    background-color: #6a7176;
    background-image: linear-gradient(180deg, #6a7176, #4d5256);
    border-bottom: 1px solid #44484b;
    padding: 12px 16px 7px 17px;
    margin: 0px 0px 2px 2px;
    width: 147px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: relative;
    z-index: 2000;
}

.ui-datepicker table.ui-datepicker-calendar {
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.26);
  background-color: #f4f4f4;
  border: solid 1px #63686e;
  left: 2px;
  margin-bottom: 0px;
  position: relative;
  top: -2px;
  width: 180px !important;
}
/* Overriding datapicker end */